{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/data_form_styles.css' %}">

    {% if form.equipment_class and not form.equipment_category  %}
        <h1 class="Add--chapterName--">{% trans 'Категория' %}</h1>
    {% elif form.equipment_category %}
            <h1 class="Add--chapterName--">{% trans 'Объект' %}</h1>
    {% elif form.equipment %}
        <h1 class="Add--chapterName--">{% trans 'Аксессуар' %}</h1>
    {% else %}
        <h1 class="Add--chapterName--">{% trans 'Класс' %}</h1>
    {% endif %}

    <div class="form_container">
        <form   method="POST"
                enctype="multipart/form-data"
                id = "multiForm"
                data-class-url="{% url 'Main_site:ajax_load_classes' %}"
                data-category-url="{% url 'Main_site:ajax_load_categories' %}"
                class="form">


            {% csrf_token %}
            {{ form.as_p }}


            <!-- ++++++++ working ++++++++ -->
            <!-- {{form.non_field_errors}}
            {%if form.company %}
                <div>
                    {{ form.company.errors }}
                    {{ form.company.label_tag }}
                    {{ form.company }}
                </div>
            {% endif %}
            {%if form.equipment_class %}
                <div>
                    {{ form.equipment_class.errors }}
                    {{ form.equipment_class.label_tag }}
                    {{ form.equipment_class }}
                </div>
            {% endif %} -->
            <!-- ++++++++ +++++++ ++++++++ -->

            <button class="formButton" type="submit">
                Ok
            </button>
        </form>
    </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>

            $("#id_company").change(function () {
                const url = $("#multiForm").attr("data-class-url");  // get the url of the `load_cities` view
                const companyId = $(this).val();    // get the selected country ID from the HTML input

                $.ajax({            // initialize an AJAX request
                    url: url,       // set the url of the request (= /persons/ajax/load-cities/ )

                    data: {
                        'company_id': companyId     // add the country id to the GET parameters
                    },

                    success: function (data) {                  // `data` is the return of the `load_cities` view function
                        $("#id_equipment_class").html(data);    // replace the contents of the city input with the data that came from the server
                        $("#id_equipment_category").html('<option value="">---------</option>');
                    }

                });

            });
        </script>


        <script>
            $("#id_equipment_class").change(function () {
                const url = $("#multiForm").attr("data-category-url");  // get the url of the `load_cities` view
                const categoryId = $(this).val();    // get the selected country ID from the HTML input

                $.ajax({            // initialize an AJAX request
                    url: url,       // set the url of the request (= /persons/ajax/load-cities/ )

                    data: {
                        'class_id': categoryId     // add the country id to the GET parameters
                    },

                    success: function (data) {                  // `data` is the return of the `load_cities` view function
                        $("#id_equipment_category").html(data);    // replace the contents of the city input with the data that came from the server
                    }

                });

            });
        </script>



{% endblock %}