{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/data_form_styles.css' %}">

    <div class="form_frame">

        <div class="form_container">


            <h1>{% trans 'Новость' %}</h1>

            <form   method="POST"
                    enctype="multipart/form-data">


                {% csrf_token %}
                {{ form.media }}
                <!-- {{ form.as_p }} -->


                <!-- ++++++++ working ++++++++ -->
                <!-- https://docs.djangoproject.com/en/4.1/topics/forms/ -->
                {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field.label_tag }} {{ field }}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                {% endfor %}
                <!-- ++++++++ +++++++ ++++++++ -->

                <button class="formButton" type="submit">
                    Ok
                </button>
            </form>
        </div>
    </div>


{% endblock %}