{% load static %}
{% load i18n %}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_styles.css' %}">
</head>
<body class="site" style="margin: 0px;">

    <div class="base_header">
        <div class="left_side">
            <div class="left_side_hrefs">
                <a class="header_href" href="{% url 'Main_site:catalog_home' %}">
                    {% trans 'КАТАЛОГ' %}
                </a>
            </div>


            <div class="left_side_hrefs">
                <a class="header_href" href = "{% url 'Main_site:news_list' %}">
                    {% trans 'НОВОСТИ' %}
                </a>
            </div>

            <div class="left_side_hrefs">
                <a class="header_href" href = "{% url 'Main_site:companies_contacts' %}">
                    {% trans 'КОНТАКТЫ' %}
                </a>
            </div>

            {% if user.is_authenticated %}
            <div class="left_side_hrefs">
                <a class="header_href" href = "{% url 'Main_site:edit_list' 0 %}">
                    {% trans 'НАСТРОЙКИ' %}
                </a>
            </div>
            {% endif %}
        </div>

        <div class="right_side" >
            <div class="right_side-top">
                {% if user.is_authenticated %}
                    <div class="right_content">
                        <img class="icon" src="{% static 'icons/person_FILL0_wght400_GRAD0_opsz48.svg' %}">
                        {{user.get_username}}
                    </div>

                    <div class="right_content">
                        <img class="icon" src="{% static 'icons/domain_FILL0_wght400_GRAD0_opsz48.svg' %}">
                        {{user.company}}
                    </div>

                    <div class="right_content">
                        <img class="icon" src="{% static 'icons/logout_FILL0_wght400_GRAD0_opsz48.svg' %}">
                        <a class="right_content_href" href="{% url 'logout' %}?next={{ request.path }}">
                            {% trans 'Выйти' %}
                        </a>
                    </div>
                {% else %}
                    <div class="right_content">
                        <img class="icon" src="{% static 'icons/login_FILL0_wght400_GRAD0_opsz48.svg' %}">
                        <a class="right_content_href" href="{% url 'login' %}?next={{ request.path }}">
                            {% trans 'Войти' %}
                        </a>
                    </div>
                {% endif %}
            </div>

            <div class="form">
                <!-- form for multilang:23) -->

                <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}">
                    <select name="language">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Go">
                </form>
                <!-- form for multilang:23) -->

            </div>
        </div>

    </div>

    <main class="site-content">
        {% block content %}
        {% endblock %}
    </main>

    <div class="base_footer">

    </div>
</body>
</html>