{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalog_styles.css' %}">

    <div class="catalog_container">

        {% for accessory in accessories_list|slice:":1" %}
            <div class="product_info_bar">
                <div class="product_dir">
                    <div class="product_info_logo_container">
                        <a href=" {% url 'Main_site:catalog_classes' accessory.company.slug %}">
                            <img src="{{ accessory.company.company_head_img.url }}" class="company_logo">
                        </a>
                    </div>

                    <div class="product_parent_container">
                        <div class="product_parent">{% trans 'Аксессуары' %}</div>
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="product_bar">
            {% for accessory in accessories_list %}
                {% if accessory.is_published %}
                    <div class="product_card">
                    <a href="{% url 'Main_site:catalog_accessory' accessory.company.slug accessory.slug %}">

                        <div class="product_img_container" id="product_img_container">
                            {% if accessory.product_head_img %}
                                <img src="{{ accessory.product_head_img.url }}" class="product_img">
                            {% else %}
                                <img src="{% static 'place_holders/eq_place_holder.jpg' %}" class="product_img">
                            {% endif %}
                        </div>

                        <div class="product_name">
                            {{ accessory }}
                        </div>
                    </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>



    </div>

{% endblock %}