{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalog_styles.css' %}">

    <div class="catalog_container">

        {% for item in items_list|slice:":1" %}
            <div class="company_bar">
                <div class="company_logo_container">
                    <img src="{{ item.company.head_img.url }}" class="company_logo">
                </div>
                <div class="company_name_container">
                    {{item.company}}
                </div>
                <div class="company_class_container">
                    {{item.equipment_class}}
                </div>
                <div class="company_category_container">
                    {{item.equipment_category}}
                </div>
            </div>
        {% endfor %}


        <div class="product_bar">
            {% for item in items_list %}
                {% if item.is_published %}
                    <div class="product_card">
                    <a href="{% url 'Main_site:catalog_item'  item.equipment_class.slug  item.equipment_category.slug  item.slug %}">

                        <div class="product_img_container">
                            <img src="{% static 'place_holders/place_holder.png' %}" class="product_img">
                        </div>

                        <div class="product_name">
                            {{ item }}
                        </div>
                    </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>



    </div>

{% endblock %}