{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalog_styles.css' %}">

    <div class="catalog_container">

        <div class="product_info_bar">
            <div class="product_dir">
                <div class="product_info_logo_container">
                    <img src="{{ item.company.head_img.url }}" class="company_logo">
                </div>

                <div class="product_parent_container">
                    <div class="product_grandparent">{{item.equipment_class}}</div>
                    <div class="product_grandparent">{{item.equipment_category}}</div>
                    <div class="product_parent">{{item}}</div>
                </div>
            </div>
            <div class="product_description">
                {{ item.full_description }}
            </div>
            <div class="product_img_container">
                <img src="{% static 'place_holders/eq_place_holder.jpg' %}" class="product_img">
            </div>
            <div class="product_technical_specs">
                {% if item.specifications %}
                    {{ item.specifications|safe }}
                {% endif %}
            </div>
        </div>


        {% for accessory in accessories_list %}
            {% if accessory.is_published %}
                <div class="accessory_container">
                    <div calss="accessory">
                            {{ accessory }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>


{% endblock %}