{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}

    <div class="catalog_container" style="margin: 0em 3em">

        {% for category in categories_list|slice:":1" %}
        <p>
            <div>{{category.company}}</div>
            <div>{{category.equipment_class}}</div>
        </p>
        {% endfor %}

        {% for category in categories_list %}
            <div class="caregory_container">
                <div calss="category">
                    <a href="{% url 'Main_site:catalog_items' category.equipment_class.slug category.slug %}">
                        {{ category }}
                    </a>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}