{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalog_styles.css' %}">

    <div class="catalog_container">
        {% for Company in companies_list %}
            {% if classes_list %}
                <div class="company_products_container">

                    <div class="company_bar">
                        <div class="company_logo_container">
                            <img src="{{ Company.company_head_img.url }}" class="company_logo">
                        </div>
                        <div class="company_name_container">
                            {{ Company }}
                        </div>
                    </div>

                    <div class="product_bar">
                        <!-- main products -->
                        {% for class in classes_list %}
                            {% if class.company == Company %}
                                <div class="product_card">
                                    <a class="product_href" href="{% url 'Main_site:catalog_categories' class.company.slug class.slug %}">

                                        <div class="product_img_container" id="product_img_container">
                                            {% if class.product_head_img %}
                                                <img src="{{ class.product_head_img.url }}" class="product_img">
                                            {% else %}
                                                <img src="{% static 'place_holders/eq_place_holder.jpg' %}" class="product_img">
                                            {% endif %}
                                        </div>

                                        <div class="product_name">
                                            {{ class }}
                                        </div>
                                    </a>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <!-- main products -->



                        <!-- accessories -->
                        {% for accessory in accessories_list %}
                            {% for filtered_item in accessory|slice:":1" %}
                                {% if filtered_item.company == Company %}
                                    <div class="product_card">
                                        <a class="product_href" href="{% url 'Main_site:catalog_accessories' filtered_item.company.slug %}">

                                            <div class="product_img_container" id="product_img_container">
                                                {% if filtered_item.product_head_img %}
                                                    <img src="{{ filtered_item.product_head_img.url }}" class="product_img">
                                                {% else %}
                                                    <img src="{% static 'place_holders/place_holder.png' %}" class="product_img">
                                                {% endif %}
                                            </div>

                                            <div class="product_name">
                                                {% trans 'Аксессуары' %}
                                            </div>
                                        </a>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        <!-- accessories -->


                    </div>

                </div>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}