{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/catalog_styles.css' %}">

    <div class="catalog_container">

        {% for category in categories_list|slice:":1" %}

            <div class="product_info_bar">
                <div class="product_dir">
                    <div class="product_info_logo_container">
                        <a href=" {% url 'Main_site:catalog_classes' category.company.slug %}">
                            <img src="{{ category.company.company_head_img.url }}" class="company_logo">
                        </a>
                    </div>

                    <div class="product_parent_container">
                        <div class="product_parent">{{category.equipment_class}}</div>
                    </div>
                </div>
                <div class="product_description">
                    {{ category.equipment_class.full_description|safe }}
                </div>
            </div>

        {% endfor %}


        <div class="product_bar">
            {% for category in categories_list %}
                {% if category.is_published %}
                    <div class="product_card">
                        <a href="{% url 'Main_site:catalog_items' category.company.slug category.equipment_class.slug category.slug %}">

                            <div class="product_img_container" id="product_img_container">
                                {% if category.product_head_img %}
                                    <img src="{{ category.product_head_img.url }}" class="product_img">
                                {% else %}
                                    <img src="{% static 'place_holders/eq_place_holder.jpg' %}" class="product_img">
                                {% endif %}
                            </div>

                            <div class="product_name">
                                {{ category }}
                            </div>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>



    </div>

{% endblock %}