{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contacts_styles.css' %}">

    <div class="contacts_container">
        {% for contact in contacts %}
            {% if contact.company.is_published and contact.is_published %}
                <div class="contact_card">
                    <div class="company_bar">
                        <div class="company_logo_container">
                            <img src="{{ contact.company.company_head_img.url }}" class="company_logo">
                        </div>
                        <div class="company_name_container">
                            {{ contact.company }}
                        </div>
                    </div>

                    <div class="contact_data">
                        {{ contact.contact_data|safe }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}

    </div>

{% endblock %}