{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/chapters_styles.css' %}">

    <div class="chapters_container">



        <div class="buttons_bar">
            <!-- forloop.counter - var which exist in for-tag and means number of iteration (1,2,3,...,end).
                There exist different vars ( https://docs.djangoproject.com/en/4.1/ref/templates/builtins/ )-->

            <!-- |stringformat:"i" - formating to the string
                (https://docs.python.org/2/library/stdtypes.html#string-formatting-operations) -->

            <!-- if-condition is need for setting of >id="defaultOpen"<, which used by script below.
                When str(forloop.counter) in url.path or str(0) in url.path then >id="defaultOpen"< is added to
                 button properties and script toggle the button to active -->
            <!-- ???? need think about using js insted django ???? -->
            <div class="buttons_container">
                {% for i in mod_list %}
                    {% if forloop.counter|stringformat:"i" in request.path or '0' in request.path %}
                        <button class="tablinks" onclick="openDataList(event, '{% trans i.1 %}')" id="defaultOpen">
                            <div class="tab_container">
                                {% trans i.1 %}
                                <div class="add_place_holder">
                                    {% if i.0 == 'CustomUser' %} <!-- 'CustomUser' is the model name from users/models.py -->
                                        <a class="tab_add" href="{% url 'Users:signUp' %}">+</a>
                                    {% elif i.0 == 'News' %}
                                        <a class="tab_add" href="{% url 'Main_site:add_news' %}">+</a>
                                    {% else%}
                                        <a class="tab_add" href="{% url 'Main_site:add_data' i.0 %}">+</a>
                                    {% endif %}
                                </div>
                            </div>
                        </button>
                    {% else %}
                        <button class="tablinks" onclick="openDataList(event, '{% trans i.1 %}')">
                            <div class="tab_container">
                                {% trans i.1 %}
                                <div class="add_place_holder">
                                    {% if i.0 == 'CustomUser' %} <!-- 'CustomUser' is the model name from users/models.py -->
                                        <a class="tab_add" href="{% url 'Users:signUp' %}">+</a>
                                    {% elif i.0 == 'News' %}
                                        <a class="tab_add" href="{% url 'Main_site:add_news' %}">+</a>
                                    {% else%}
                                        <a class="tab_add" href="{% url 'Main_site:add_data' i.0 %}">+</a>
                                    {% endif %}
                                </div>
                            </div>
                        </button>
                    {% endif %}
                {% endfor %}
            </div>
        </div>


        {% for i in mod_list %}
            <div id="{% trans i.1 %}" class="tabcontent">
                {% for j in i.2  %}
                    <div class="content">

                        {% if i.0 == 'CustomUser' %}
                            <a class="href" href="{% url 'Users:signUpEditMult' j.id  %}" >href</a>
                        {% elif i.0 == 'News' %}
                            <a class="href" href="{% url 'Main_site:edit_news' j.slug %}" >href</a>
                        {% else %}
                            <a class="href" href="{% url 'Main_site:edit_data' i.0 j.slug %}" >href</a>
                        {% endif %}

                        <div class="edit_content">
                            <img src="{% static 'icons/edit_note_FILL0_wght700_GRAD0_opsz48.svg' %}" class="edit_icon">
                        </div>


                        <div class="data_content">

                            <div class="data_status">
                                {% if i.0 == 'CustomUser'%} <!-- 'CustomUser' is the model name from users/models.py -->
                                    {%if j.is_active  %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_active_icon">
                                        <div class="status_active">{% trans 'данные активны' %}</div>
                                    {% else %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_not_active_icon">
                                        <div class="status_not_active">{% trans 'данные не активны' %}</div>
                                    {% endif %}
                                {% endif %}

                                {% if i.0 == 'Company' %} <!-- 'Company' is the model name from users/models.py -->
                                    {%if j.is_published  %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_active_icon">
                                        <div class="status_active">{% trans 'данные активны' %}</div>
                                    {% else %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_not_active_icon">
                                        <div class="status_not_active">{% trans 'данные не активны' %}</div>
                                    {% endif %}
                                {% endif %}

                                {% if i.0 == 'Equipment_Class' %} <!-- 'Equipment_Class' is the model name from users/models.py -->
                                    {% if j.is_published and j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_active_icon">
                                        <div class="status_active">{% trans 'данные активны' %}</div>
                                    {% elif j.is_published and not j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: компания не активна</div>
                                    {% else %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_not_active_icon">
                                        <div class="status_not_active">данные не активны</div>
                                    {% endif %}
                                {% endif %}

                                {% if i.0 == 'Equipment_Category' %} <!-- 'Equipment_Category' is the model name from users/models.py -->
                                    {% if j.is_published and j.equipment_class.is_published and j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_active_icon">
                                        <div class="status_active">{% trans 'данные активны' %}</div>
                                    {% elif j.is_published and j.equipment_class.is_published and not j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: компания не активна</div>
                                    {% elif j.is_published and not j.equipment_class.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: класс не активен</div>
                                    {% else %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_not_active_icon">
                                        <div class="status_not_active">данные не активны</div>
                                    {% endif %}
                                {% endif %}

                                {% if i.0 == 'Equipment_Item' %} <!-- 'Equipment_Item' is the model name from users/models.py -->
                                    {% if j.is_published and j.equipment_category.is_published and j.equipment_class.is_published and j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_active_icon">
                                        <div class="status_active">{% trans 'данные активны' %}</div>
                                    {% elif j.is_published and j.equipment_category.is_published and j.equipment_class.is_published and not j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: компания не активна</div>
                                    {% elif j.is_published and j.equipment_category.is_published and not j.equipment_class.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: класс не активен</div>
                                    {% elif j.is_published and not j.equipment_category.is_published  %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: категория не активна</div>
                                    {% else %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_not_active_icon">
                                        <div class="status_not_active">данные не активны</div>
                                    {% endif %}
                                {% endif %}

                                {% if i.0 == 'Equipment_Accessory' %} <!-- 'Equipment_Accessory' is the model name from users/models.py -->
                                    {% if j.is_published and j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_active_icon">
                                        <div class="status_active">{% trans 'данные активны' %}</div>
                                    {% elif j.is_published and not j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: компания не активна</div>
                                    {% else %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_not_active_icon">
                                        <div class="status_not_active">данные не активны</div>
                                    {% endif %}
                                {% endif %}

                                {% if i.0 == 'News' %} <!-- 'News' is the model name from users/models.py -->
                                    {% if j.is_published and j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_active_icon">
                                        <div class="status_active">{% trans 'данные активны' %}</div>
                                    {% elif j.is_published and not j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: компания не активна</div>
                                    {% else %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_not_active_icon">
                                        <div class="status_not_active">данные не активны</div>
                                    {% endif %}
                                {% endif %}

                                {% if i.0 == 'Contacts' %} <!-- 'News' is the model name from users/models.py -->
                                    {% if j.is_published and j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_active_icon">
                                        <div class="status_active">{% trans 'данные активны' %}</div>
                                    {% elif j.is_published and not j.company.is_published %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_hide_icon">
                                        <div class="status_hide">данные скрыты: компания не активна</div>
                                    {% else %}
                                        <img src="{% static 'icons/radio_button_unchecked_FILL1_wght400_GRAD0_opsz48.svg' %}" class="status_not_active_icon">
                                        <div class="status_not_active">данные не активны</div>
                                    {% endif %}
                                {% endif %}

                            </div>

                            <div class="data_name">
                                {% if i.0 == 'Contacts' %}
                                    {{j.company}}
                                {% else %}
                                    {{j}}
                                {% endif %}
                            </div>
                            <div class="data_path">

                                {%if j.equipment_category%}
                                    \ {{j.equipment_category}}
                                {% endif %}

                                {%if j.equipment_class%}
                                    \ {{j.equipment_class}}
                                {% endif %}

                                {%if user.is_superuser %}
                                    {% if j.company %}
                                        \ {{j.company}}
                                    {% endif %}
                                {% endif %}
                            </div>

                        </div>

                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


    <script>
        function openDataList(evt, chapterName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(chapterName).style.display = "block";
          evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>



{% endblock %}