{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <div class="chapters_container">


        <div class="buttons_container">
            {% for i in mod_list %}
                <button class="tablinks" onclick="openDataList(event, '{% trans i.0 %}')" id="defaultOpen">
                    <div class="tab_container">
                        {% trans i.0 %}
                        <div class="add_place_holder">
                            <a class="tab_add" class href="{% url 'Main_site:add_data' i.0 %}">
                                +
                            </a>
                        </div>
                    </div>
                </button>
            {% endfor %}
        </div>


        {% for i in mod_list %}
            <div id="{% trans i.0 %}" class="tabcontent">
                {% for j in i.1  %}
                    <a href="{% url 'Main_site:edit_data' i.0 j.id %}">
                        <div class="content">
                            <div class="edit_content">edit</div>
                            <div class="data_content"> {{j}} </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}


    </div>


    <script>
        function openDataList(evt, chapterName) {
          var i, tabcontent, tablinks;
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }
          document.getElementById(chapterName).style.display = "block";
          evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
        </script>


{% endblock %}