{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news_styles.css' %}">
        <div class="news_container" >
            {% for page in pages %}
                <a href="{% url 'Main_site:news' page.slug %}" class="infinite-item">
                    <div class="news_card" >
                        <div class="company_bar">
                            <div class="company_logo_container">
                                <img src="{{ page.company.company_head_img.url }}" class="company_logo">
                            </div>
                            <div class="company_name_container">
                                {{ page.company }}
                            </div>
                        </div>

                        <div class="list_head_img_container">
                            <img src="{{ page.news_head_img.url }}" class="head_img">
                        </div>

                        <div class="title_bar">
                            <div class="title">
                                {{page}}
                            </div>
                        </div>

                        <div class="issued_container">
                            {{ page.issued }}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    {% if pages.has_next %}
        <a class="infinite-more-link" href="?page={{ pages.next_page_number }}">More</a>
    {% endif %}


    <script>
        var infinite = new Waypoint.Infinite({
          element: $('.news_container')[0]
        });
    </script>



{% endblock %}