{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news_styles.css' %}">

    <div class="news_container">
        <div class="news_body">
            <div class="company_bar">
                <div class="company_logo_container">
                    <img src="{{ news.company.head_img.url }}" class="company_logo">
                </div>
                <div class="company_name_container">
                    {{ news.company }}
                </div>
            </div>

            <div class="head_img_container">
                <img src="{{ news.head_img.url }}" class="head_img">
            </div>

            <div class="title_bar">
                <div class="title">
                    {{ news }}
                </div>
                <div class="body1">
                    {{ news.body1|safe }}
                </div>
            </div>

            <!-- {% if news.additional_imgs %}
                <div class="slideshow-container">
                    {% for img in news.additional_imgs %}
                        <div class="mySlides fade">
                            <div class="numbertext">1 / 3</div>
                            <img src="{{ img.url }}" style="width:100%">
                            <div class="text">Caption Text</div>
                        </div>
                    {% endfor %}

                    <a class="prev" onclick="plusSlides(-1)">❮</a>
                    <a class="next" onclick="plusSlides(1)">❯</a>

                </div>
                <br>
                <div style="text-align:center">
                    {% for img in news.additional_imgs %}
                    <span class="dot" onclick="currentSlide({{ forloop.counter }})"></span>

                    {% endfor %}
                </div>
            {% endif %} -->

            <div class="issued_container">
                {{ news.issued }}
            </div>
        </div>

    </div>


    <script>
        let slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
          showSlides(slideIndex += n);
        }

        function currentSlide(n) {
          showSlides(slideIndex = n);
        }

        function showSlides(n) {
          let i;
          let slides = document.getElementsByClassName("mySlides");
          let dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
          }
          for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";
          dots[slideIndex-1].className += " active";
        }
    </script>


{% endblock %}