
.catalog_container{
    --catalog_container_width: 50em;
    display: flex;
    flex-direction: column;
    /* border: 3px solid rgb(255, 0, 0); */
    max-width: var(--catalog_container_width);
    margin-top: 3em;
    margin-left: max(2em, calc(50% - var(--catalog_container_width) / 2 ));
    margin-right: 2em;
    font-family: Calibri;
    font-size: 1em;
    padding: 1em;
}

.company_products_container{
    /* border: 3px solid rgb(92, 92, 92); */
    padding: 1em 0em;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

/* ############################################################# */
/* ===== catalog/home company data ===== */
.company_bar{
    --company_heigth: 3em;
    margin-bottom: 1em;
    z-index: -1;
    display: flex;
    /* border: 2px solid rgb(255, 209, 2); */
    height: var(--company_heigth);
}

.company_logo_container{
    width: var(--company_heigth);
    height: var(--company_heigth);
}

.company_logo{
    height: 100%;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
}

.company_logo:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    box-shadow: 0px 1px 10px rgb(224, 213, 213);
}


.company_name_container{
    display: flex;
    align-items: center;
    height: var(--company_heigth);
    margin-left: 1em;
}


/* ############################################################# */
/* ===== catalog/home product data ===== */

.product_bar{
    /* border: 2px solid rgb(0, 162, 255); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15em ,1fr));
    gap: 1em;
}

.product_card{
    --card_width: 15em;
    --card_height: calc(var(--card_width) * 0.6);
    --product_card_border_radius: 1em;
    min-width: var(--card_width);
    min-height: var(--card_height);
    border-radius: var(--product_card_border_radius);
    -webkit-border-radius: var(--product_card_border_radius);
    -moz-border-radius: var(--product_card_border_radius);
    -ms-border-radius: var(--product_card_border_radius);
    -o-border-radius: var(--product_card_border_radius);
    box-shadow: 0px 1px 10px rgb(224, 213, 213);
}

.product_img_container{
    display: flex;
    justify-content: center;
    margin: 1em;
    /* border: 2px solid rgb(42, 3, 150); */
}
#product_img_container{
    height: 10em;
}

.product_img{
    max-height: 100%;
    max-width: 100%;
    object-fit: scale-down;
}

.product_name{
    display: flex;
    color: rgb(82, 82, 82);
    min-height: calc(var(--card_height) * 0.2);
    align-items: center;
    margin: 0.5em 1em;
    font-size: 1.1em;
    /* border: 2px solid rgb(42, 3, 150) */
}

.product_short_description{
    margin: 0em 0.5em;
}

.product_href{
    min-height: 100%;
}


.product_card:hover{
    transition: 0.3s;
    transform: scale(1.05);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    box-shadow: 0px 1px 15px rgb(124, 113, 113);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

/* ############################################################# */
/* ===== catalog/categories and items product header ===== */

.product_info_bar{
    /* border: 2px solid rgb(0, 162, 255); */
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.product_dir{
    /* border: 2px solid rgb(0, 124, 21); */
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 1em;
    height: fit-content;
    width: 100%;
}

.product_parent_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin-left: 1em;
    /* border: 2px solid rgb(124, 0, 0); */
}

.product_parent{
    font-size: 1.4em;
    font-weight: bold;
    /* border: 2px solid rgb(3, 150, 22); */
}

.product_grandparent{
    font-size: 1em;
    color: rgb(83, 83, 83);
    text-decoration: underline;
    /* border: 2px solid rgb(0, 78, 124); */
}


.product_grandparent:hover,
.product_grandparent:hover{
    font-weight: bold;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.product_description{
    /* border: 2px solid rgb(124, 105, 0); */
    padding: 0.5em 0em;
    width: 100%;
    font-size: 1em;
}

.product_info_logo_container{
    display: flex;
    justify-content: left;
    height: 5em;
    object-fit: scale-down;
}

.product_description_container{
    display: flex;
}

.product_specification{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 100%;
}


.product_technical_specs{
    width: 100%;
}

#test{
    width: 40em;
    margin-right: 1em;
}

table{
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 4px;
  }

  tr:nth-child(even) {
    background-color: #ececec;
  }



/* ############################################################# */



/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}