.chapters_container{
    margin: 2em 2em;
    margin-right: 5em;
    display: grid;
    grid-template-columns: max-content minmax(200px, 1fr);
    grid-gap: 1em;
    font-family: Calibri;
    font-size: 1.1em;
    color: rgb(61, 61, 61);

}


.buttons_container{
    position:sticky;
    top:0px;
    display: flex;
    flex-direction: column;
}

.tab_container{
    display: flex;
    justify-content: space-between;
    line-height: 2em;
}

.tablinks{
    border: none;
    background-color: transparent;
    height: 2em;
    text-align: left;
    padding: 0em 0.5em;
    margin-bottom: 2px;
    border-radius: 0.5em;
    font-family: Calibri;
    font-size: 1em;
    color: rgb(61, 61, 61);
    justify-content: space-between;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.tablinks.active{
    background-color:rgb(230, 229, 229);
    color: black;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);

}


.add_place_holder{
    width: 2em;
    position: relative;
    right: -0.5em;

}

.tab_add{
    display: none;
}

.tablinks.active > .tab_container > .add_place_holder > .tab_add {
    display: block;
    color: rgb(128, 128, 128);
    font-size: 1em;
    font-weight: 800;
    height: 2em;
    width: 2em;
    text-align: center;
    background-color:rgb(211, 211, 211);
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}



.tablinks:hover{
    background-color: rgb(0, 140, 255);
    color: white;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;

}

.tablinks:hover > .tab_container > .add_place_holder > .tab_add {
    background-color: rgb(0, 128, 233);
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.tablinks:hover > .tab_container > .add_place_holder > .tab_add:hover {
    background-color: rgb(131, 180, 138);
    color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.content{
    display: flex;
    position: relative;
    margin: 0px 0px;
    margin-bottom: 2px;
    height: 2em;
    font-size: 1em;
    line-height: 2em;
    border-radius: 0.5em;
    text-indent: 0.5em;
    z-index: 0;

}

.content:hover{
    background-color: rgb(230, 229, 229);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.edit_content{
    height: 2em;
    position: absolute;
    z-index: -1;
    padding-left: 0.1em;
    padding-right: 1em;
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
}

.edit_icon{
    max-height: 80%;
    max-width: 80%;
    padding-top: 0.3em;
    filter: invert(100%) sepia(7%) saturate(241%) hue-rotate(248deg) brightness(115%) contrast(100%);
    /* change color of .svg files https://codepen.io/sosuke/pen/Pjoqqp */
}






.data_status{
    display: flex;
    position: relative;
}


.status_active, .status_not_active, .status_hide{
    visibility: hidden;
    position: absolute;
    padding-left: 0.5em;
    padding-right: 1em;
    top: -2em;
    left: 1.5em;
    font-size: 0.8em;
    font-weight:bolder;
    width: max-content;
    height: min-content;
    border-radius: 2em;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    -ms-border-radius: 2em;
    -o-border-radius: 2em;
    border-bottom-left-radius: 0em;

}

.status_active{
    visibility: hidden; /* optional: hide active status */
    color: black;
    box-shadow: 0px 3px 10px rgb(0, 87, 14);
}

.status_not_active{
    color: white;
    box-shadow: 0px 3px 10px rgb(87, 0, 14);
}

.status_hide{
    color: black;
    box-shadow: 0px 3px 10px rgb(87, 71, 0);
}



.content:hover .status_active{
    visibility: hidden; /* optional: hide active status */
    background-color: rgb(0, 155, 77);
    transition-delay: 1s;
}

.content:hover .status_not_active{
    visibility: visible;
    background-color: rgb(185, 0, 56);
    transition-delay: 1s;
}


.content:hover .status_hide{
    visibility: visible;
    background-color: rgb(240, 196, 0);
    transition-delay: 1s;
}


.status_active_icon{
    visibility: hidden; /* optional: hide active status */
    margin: 0.75em 0.5em;
    max-height: 0.5em;
    max-width: 0.5em;
    filter: invert(62%) sepia(89%) saturate(5474%) hue-rotate(130deg) brightness(96%) contrast(101%);
    -webkit-filter: invert(62%) sepia(89%) saturate(5474%) hue-rotate(130deg) brightness(96%) contrast(101%);

}

.status_not_active_icon{
    margin: 0.75em 0.5em;
    max-height: 0.5em;
    max-width: 0.5em;
    filter: invert(8%) sepia(91%) saturate(7450%) hue-rotate(6deg) brightness(84%) contrast(109%);
    -webkit-filter: invert(8%) sepia(91%) saturate(7450%) hue-rotate(6deg) brightness(84%) contrast(109%);
}

.status_hide_icon{
    margin: 0.75em 0.5em;
    max-height: 0.5em;
    max-width: 0.5em;
    filter: invert(71%) sepia(90%) saturate(1296%) hue-rotate(358deg) brightness(102%) contrast(106%);
    -webkit-filter: invert(71%) sepia(90%) saturate(1296%) hue-rotate(358deg) brightness(102%) contrast(106%);
}







.data_content{
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 0.5em;
}

.data_name{
    min-width: 5em; /* optional*/
    max-width: 15em;/* optional*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.data_path{
    color: rgb(124, 124, 124);
    width: fit-content;      /* % not working with "text-overflow: ellipsis" */
    white-space: nowrap;     /* need to overflow is work */
    overflow: hidden;        /* hide string when it's doesen't fit */
    text-overflow: ellipsis; /* add "..." to string when it's doesen't fit */
    /* https://stackoverflow.com/questions/17779293/css-text-overflow-ellipsis-not-working */
}

.content:hover > .edit_content{
    color: white;
    background-color: rgb(0, 128, 233);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}


.content:hover > .data_content{
    background-color: rgb(230, 229, 229);
    transition-delay: 0.1s;
    transform: translateX(2.5em);
    -webkit-transform: translateX(2.5em);
    -moz-transform: translateX(2.5em);
    -ms-transform: translateX(2.5em);
    -o-transform: translateX(2.5em);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}



a{
    text-decoration: none;
    font-family: Calibri;
    color: rgb(61, 61, 61);
}

.href{
    position: absolute;
    z-index: 2;
    color: transparent;
    width: 100%;

}

